@import "tailwindcss";

.btn{
    position: relative;
    background: transparent;
    border: 2px solid #e8e8e8;
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s linear;

}
.btn::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: #333a56;
    border-radius: 50%;
    top: 50% ;
    overflow: hidden;
    transform: translate(0%, 0%) scale(0);
    left: 50%;
    z-index: -1;
    transition: all 0.5s linear;
}
.btn:hover::after{
    transform: translate(-50%, -50%) scale(2);

}
.btn:hover{
    border: 2px solid #333a56;
}
.animate-bounce:hover{
    animation-play-state: paused;
}